@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body {
  min-width: 20rem;
}

¡.popular-sales {
  font-family: "Raleway";
}

.popular-sales__post {
  text-align: center;
}

.post__background-circle-red {
  background-image: url("../img/icons/Ellipse 1.png");
}

.post__background-circle-red img {
  margin: 0.8rem 0rem 0rem 2.8rem;
}

.post__background-circle-blue {
  background-image: url("../img/icons/Ellipse 2.png");
}

.post__background-circle-blue img {
  margin: 1.2rem 0rem 0rem 2.8rem;
}

.post__background-circle-green {
  background-image: url("../img/icons/Ellipse 1 (1).png");
}

.post__background-circle-green img {
  margin: 1rem 0rem 0rem 2.8rem;
}

.post__background-circle-red,
.post__background-circle-green,
.post__background-circle-blue {
  height: 5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 1rem;
}

.post__title {
  padding-top: 0.6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
}

.post__desc {
  color: #A5A5A5;
  font-size: 16px;
  text-align: center;
  padding: 1.4rem 8rem 1.4rem 8rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .popular-sales {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .popular-sales {
    display: flex;
    justify-content: center;
  }
}
.menu-items__nav-link:hover {
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  header {
    position: sticky;
    top: 0;
    background-color: white;
  }
  .navbar {
    display: block;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
  .navbar__navbar-left {
    display: inline-block;
    width: 89%;
    vertical-align: middle;
  }
  .navbar__navbar-left img {
    margin: auto;
    vertical-align: middle;
  }
  .navbar__navbar-right__menu-items {
    padding-top: 2.4rem;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0rem 0.125rem 0.125rem 0rem #A5A5A5;
    left: 0;
  }
  .navbar__navbar-right__menu-items.closed {
    display: none;
  }
  .menu-items__nav-link {
    display: block;
    padding: 0.375rem;
    text-decoration: none;
    color: #A5A5A5;
  }
  .menu-items__nav-link:hover {
    color: #000000;
  }
  .navbar__menu-toggle,
  .navbar__close-btn {
    vertical-align: middle;
    color: #07ACE6;
    display: inline-block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbar__close-btn {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
    box-shadow: 0rem 0.125rem 0.125rem 0rem #A5A5A5;
  }
  .navbar__navbar-left {
    width: 50%;
  }
  .navbar__navbar-left img {
    margin-left: 8rem;
    margin-top: 1.6rem;
  }
  .navbar__navbar-right {
    width: 50%;
  }
  .navbar__navbar-right__menu-items {
    display: flex;
    justify-content: space-around;
    padding-right: 6rem;
  }
  .menu-items__nav-link {
    font-weight: 500;
    color: #A5A5A5;
    text-decoration: none;
    padding: 2rem 1rem 2rem 1rem;
    border-bottom: 0.4rem solid transparent;
  }
  .menu-items__nav-link:hover {
    border-bottom: 0.4rem solid #07ACE6;
    color: #000000;
  }
  .navbar__menu-toggle,
  .navbar__close-btn {
    display: none;
  }
}
.main {
  text-align: center;
}

.main__claim {
  font-weight: 500;
}

.main__desc-claim {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.main__background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/static/Background.png");
  height: 16.6rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .main {
    padding-top: 3rem;
  }
  .main__button {
    background-color: #07ACE6;
    border-radius: 1.875rem;
    padding: 1rem 5rem;
    border: #07ACE6 solid;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 3.6rem;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .main__button {
    background-color: #07ACE6;
    border-radius: 1.875rem;
    padding: 1rem 9rem;
    border: #07ACE6 solid;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 8rem;
  }
  .main__background-img {
    height: 24rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .news {
    background-color: #F7F7F7;
    padding: 2rem;
    display: block;
  }
  .news__article-one {
    background-position: 9.6rem 0rem;
    background-image: url("../img/icons/Frame 11.png");
    background-size: 6rem 6rem;
    background-repeat: no-repeat;
    padding-top: 2rem;
  }
  .news__article-one img {
    height: 5.2rem;
    width: 10rem;
    display: block;
    margin: 0 auto;
  }
  .news__article-one h3 {
    padding: 1rem;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 30px;
  }
  .news__article-one p {
    padding: 2rem 1rem 2rem 1rem;
    font-size: 14px;
    font-weight: 400;
  }
  .news__article-two {
    padding-top: 1rem;
    margin-top: 2rem;
    background-position: 6rem 1rem;
    background-image: url("../img/icons/Ellipse 3.png");
    background-size: 7rem 7rem;
    background-repeat: no-repeat;
  }
  .news__article-two img {
    width: 9rem;
    height: 7.2rem;
    display: block;
    margin-top: 0.6rem;
    margin-left: 6rem;
  }
  .news__article-two h3 {
    padding: 1rem 3rem 0rem 1rem;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 30px;
  }
  .news__article-two p {
    padding: 2rem 1rem 2rem 1rem;
    font-size: 14px;
    font-weight: 400;
  }
  .news__article-three {
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .news__article-three img {
    margin: 0 auto;
    padding: 2rem 0rem 0rem 0rem;
  }
  .news__article-three h3 {
    padding: 1rem 3rem 0rem 1rem;
    font-weight: 400;
    font-size: 30px;
  }
  .news__article-three p {
    padding: 2rem 2rem 2rem 1rem;
    font-size: 16px;
    font-weight: 400;
  }
  .news__article-three .article-three__img {
    background-color: #55DFB4;
    height: 12rem;
  }
  .news__article-one,
  .news__article-two,
  .news__article-three {
    background-color: white;
  }
}
@media screen and (min-width: 1000px) {
  .news {
    background-color: #F7F7F7;
    padding: 6rem 10rem 6rem 10rem;
    display: block;
  }
  .news__article-one {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2rem;
    background-color: white;
  }
  .news__article-one .article-one__img {
    width: 50%;
    margin-right: 4rem;
  }
  .article-one__img img {
    padding: 4rem 4rem 4rem 4rem;
    background-position: 16rem 0rem;
    background-image: url("../img/icons/Rectange 30.png");
    background-size: 14rem 14rem;
    background-repeat: no-repeat;
  }
  .article-one__text {
    padding-top: 2rem;
  }
  .article-one__text h3 {
    padding: 1rem;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 30px;
  }
  .article-one__text p {
    padding: 2rem 0rem 2rem 1rem;
    font-size: 14px;
    font-weight: 400;
  }
  .news__article-one__subline-red {
    margin-left: 1rem;
    border-bottom: 2px #FB3B64 solid;
    width: 80%;
  }
  .news__article-two {
    margin-top: 2rem;
    display: flex;
    padding-top: 2rem;
    background-color: white;
  }
  .news__article-two .article-two__img {
    width: 50%;
  }
  .article-two__img img {
    padding: 1.4rem 4rem 0rem 4rem;
    background-position: 4rem 1rem;
    background-image: url("../img/icons/Ellipse 3.png");
    background-size: 19rem 19rem;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .article-two__text {
    padding-top: 2rem;
  }
  .news__article-two h3 {
    padding: 1rem 14rem 1rem 12rem;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 30px;
  }
  .news__article-two p {
    padding: 2rem 1rem 2rem 12rem;
    font-size: 14px;
    font-weight: 400;
  }
  .news__article-two__subline-blue {
    margin-left: 12rem;
    border-bottom: 2px #08A6E4 solid;
    width: 54%;
  }
  .news__article-three {
    display: flex;
    background-color: #F7F7F7;
    margin-top: 2rem;
  }
  .article-three__text {
    background-color: white;
    width: 50%;
    margin-right: 4rem;
  }
  .article-three__text h3 {
    margin-top: 4rem;
    padding: 0rem 14rem 0rem 1rem;
    font-weight: 400;
    font-size: 30px;
  }
  .article-three__text p {
    padding: 2rem 2rem 2rem 1rem;
    font-size: 16px;
    font-weight: 400;
  }
  .news__article-three .article-three__img {
    width: 50%;
    background-color: #55DFB4;
  }
  .article-three__img img {
    margin: 4rem 5rem 1rem 7rem;
    height: 16rem;
    width: 20rem;
  }
  .news__article-three__subline-green {
    margin-left: 1rem;
    border-bottom: 2px #55DFB4 solid;
    width: 80%;
  }
}
.pricings__pricing-title {
  margin: 3rem 0rem 0.5rem 0rem;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  font-family: "Raleway";
  margin-bottom: 1rem;
}

.pricings__plan-basic,
.pricings__plan-professional,
.pricings__plan-premium {
  border-radius: 16px;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 4rem;
}

.pricings__plan-basic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px #FB3B64;
}

.pricings__plan-professional:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px #07ACE6;
}

.pricings__plan-premium:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px #55DFB4;
}

.pricings__plan-basic {
  border: 1px #FB3B64 solid;
}

.pricings__plan-professional {
  border: 1px #07ACE6 solid;
}

.pricings__plan-premium {
  border: 1px #55DFB4 solid;
}

.plan-basic__price,
.plan-professional__price,
.plan-premium__price {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: 2.8rem;
}

.plan-basic__price h3,
.plan-professional__price h3,
.plan-premium__price h3 {
  font-size: 20px;
  font-family: "Raleway";
}

.plan-basic__price .plan-basic__price__price {
  font-size: 46px;
  font-weight: 300;
  color: #FB3B64;
}

.plan-professional__price .plan-professional__price__price {
  font-size: 46px;
  font-weight: 300;
  color: #07ACE6;
}

.plan-premium__price .plan-premium__price__price {
  font-size: 46px;
  font-weight: 300;
  color: #55DFB4;
}

.plan-professional__limited-offer,
.plan-premium__limited-offer {
  font-size: 12px;
  font-weight: 700;
}

.plan__attributes {
  padding: 1rem 0rem 2rem 0rem;
  width: 50%;
  display: inline-block;
}

.plan-basic__button,
.plan-professional__button,
.plan-premium__button {
  margin: 0 auto;
  padding-top: 0.8rem;
  height: 3rem;
  width: 9.4rem;
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border-radius: 24px;
  border-color: #FB3B64;
}

.plan-basic__button {
  background-color: #FB3B64;
  margin-top: 1rem;
  margin-bottom: -1.6rem;
}

.plan-professional__button {
  background-color: #07ACE6;
  margin-bottom: -1.6rem;
}

.plan-premium__button {
  background-color: #55DFB4;
  margin-bottom: -1.6rem;
}

.attributes__check-attribute {
  display: block;
  margin: 1rem 0rem 1rem 0rem;
}

.attributes__check-attribute img {
  margin-right: 5px;
}

.attributes__check-attribute span {
  font-size: 14px;
}

.checkbox-text {
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .pricings {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .pricings {
    padding: 4rem 10rem 4rem 10rem;
  }
  .pricings__plans {
    display: flex;
  }
  .pricings__plan-basic,
  .pricings__plan-professional,
  .pricings__plan-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    padding-top: 2rem;
  }
  .plan__attributes {
    text-align: center;
  }
  .pricings__pricing-title {
    margin-bottom: 3rem;
  }
}
.form-section__contact p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2rem;
}

.form__name label,
.form__email label {
  font-size: 11px;
  font-weight: 600;
  color: #08A6E4;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 3.28px;
}

.form__name label,
.form__name input,
.form__email label,
.form__email input {
  display: block;
}

.form__name input,
.form__email input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #95989A;
  outline: none;
}

.form-policy {
  position: top;
}

.form__policy-check {
  width: 5%;
  padding-top: 2.6rem;
}

.form__policy-check__checkbox {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 4px;
}

.form__policy-check__checkbox:checked {
  background-image: url("../img/icons/Checkmark 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem 1rem;
  border: 1px #08A6E4 solid;
  border-radius: 4px;
  appearance: none;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .form-section {
    padding: 2rem;
  }
  .form-section__contact {
    margin-bottom: 4rem;
  }
  .contact__phone {
    color: #A5A5A5;
    margin-top: 0.8rem;
    font-size: 16px;
  }
  .contact__email {
    color: #A5A5A5;
    font-size: 16px;
  }
  .contact__email img {
    vertical-align: middle;
    margin-right: 0.6rem;
  }
  .contact__phone img {
    vertical-align: middle;
    margin-right: 0.6rem;
  }
  .form-section__contact h2 {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0.8rem;
  }
  .form_button {
    margin-top: 2rem;
    margin-left: 5rem;
    background-color: #08A6E4;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 28px;
    border-color: #08A6E4;
    padding: 1.2rem 6rem 1.2rem 6rem;
  }
  .form__policy-text {
    margin-top: -2rem;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 12px;
    padding-right: 0.6rem;
    color: #707070;
  }
  .form__name input {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .form-section__contact {
    margin-bottom: 2rem;
  }
  .form-section {
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
    padding: 5.4rem;
  }
  .form__name input {
    margin-bottom: 2.6rem;
  }
  .contact__align-contact {
    display: flex;
    align-items: center;
  }
  .form-section__form {
    width: 40%;
    padding: 0rem 0rem 2rem 6rem;
  }
  .form-section__contact {
    margin-bottom: 4rem;
  }
  .form-section__contact h2 {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 0.8rem;
  }
  .contact__email {
    color: #A5A5A5;
    font-size: 16px;
  }
  .contact__email img {
    vertical-align: middle;
    margin-right: 0.6rem;
  }
  .contact__phone {
    color: #A5A5A5;
    font-size: 16px;
  }
  .contact__phone img {
    vertical-align: middle;
    margin-right: 0.6rem;
    margin-left: 2rem;
  }
  .form_button {
    margin-top: 2rem;
    margin-left: 12.8rem;
    background-color: #08A6E4;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 28px;
    border-color: #08A6E4;
    padding: 1.2rem 6rem 1.2rem 6rem;
  }
  .form__policy-text {
    margin-top: -2rem;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
  }
}
.footer-section {
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .footer-section {
    display: inline-block;
    width: 100%;
    padding: 1rem;
  }
  .footer-section .footer-section__brand {
    display: inline-block;
    width: 70%;
  }
  .footer-section .footer-section__brand__logo {
    height: 1.6rem;
    width: 10.4rem;
  }
  .footer-section .footer-section__brand__copyright {
    font-size: 11px;
    font-weight: 400;
    color: #A5A5A5;
  }
  .footer-section .footer-section__social {
    display: inline-block;
  }
  .footer-section__social__icon {
    margin-right: 0.8rem;
    padding-bottom: 0.4rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1.2rem;
  }
  .footer-section .footer-section__brand {
    display: inline-block;
    width: 40%;
  }
  .footer-section .footer-section__brand__logo {
    height: 1.6rem;
    width: 10.4rem;
  }
  .footer-section .footer-section__brand__copyright {
    font-size: 11px;
    font-weight: 400;
    color: #A5A5A5;
  }
  .footer-section .footer-section__social {
    display: inline-block;
  }
  .footer-section__social__icon {
    margin-right: 2rem;
    margin-top: 0.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
