.form-section{
    padding:2rem;
    &__contact{
        margin-bottom:4rem;
        &__title{
            font-family: "Raleway";
            font-weight: 400;
            font-size: 2.5rem;
            margin-bottom:0.8rem;
        }
        &__text{
            font-weight: 400;
            font-size: 1rem;
            margin-bottom:2rem;
        }
        &__align-contact{
            &__email{
                color:#A5A5A5;
                font-size:1rem;
                &__img {
                    vertical-align: middle;
                    margin-right:0.6rem;
                }
                &__address{

                }
            }
            &__phone{
                color:#A5A5A5;
                margin-top:0.8rem;
                font-size:1rem;
                &__img {
                    vertical-align: middle;
                    margin-right:0.6rem;
                }
                &__number{
                            
                }
            }
        }
    }
    &__form {
        &__name,
        &__email{
            &__label{
                display: block;
                font-size: 0.688rem;
                font-weight: 600;
                color:#08A6E4;
                text-transform: uppercase;
                margin-bottom:1rem;
                letter-spacing: 0.205rem;
            }
            &__input{
                display: block;
                width:100%;
                border: none;
                border-bottom: 0.063rem solid #95989A;
                outline: none;
            }
        }
        &__name{
            &__input{
                margin-bottom:2rem;
            }
        }
        &__policy {
            position:top;
            &__check{
                width: 5%;
                padding-top:2.6rem;
                &__checkbox{
                    height:1.6rem;
                    width:1.6rem;
                    border-radius: 0.25rem;
                    &:checked {
                        background-image: url('../img/icons/Checkmark\ 1.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1rem 1rem;
                        border:0.063rem #08A6E4 solid;
                        border-radius: 0.25rem;
                        appearance: none;  
                    }
                }
            }
            &__text {
                margin-top:-2rem;
        margin-left: 2rem;
        font-weight: 400;
        font-size: 0.75rem;
        padding-right:0.6rem;
        color:#707070;
                &__desc {

                }
            }
        }   
    }
    &__button{
        margin-top:2rem;
        margin-left:5rem;
        background-color: #08A6E4;
        color:white;
        font-size: 0.813rem;
        font-weight: 700;
        border-radius: 1.75rem;
        border-color: #08A6E4;
        padding: 1.2rem 6rem 1.2rem 6rem;
    }

    @media screen and (min-width: 62.5rem) {
        display:flex;
        justify-content: center;
        padding-left:8rem;
        padding-right:8rem;
        padding:5.4rem;
        &__contact {
            margin-bottom:4rem;
            &__title{
                font-family: "Raleway";
                font-weight: 400;
                font-size: 3.063rem;
                margin-bottom:0.8rem;
            }
            &__align-contact {
                display: flex;
                align-items: center;
                &__phone{
                    margin-top:0rem;
                    margin-left:2rem;
                }
            }  
        }
        &__form{
            width:40%;
                padding: 0rem 0rem 2rem 6rem;
            &__name{
                &__input{
                    margin-bottom:2.6rem;
                }
            }
            &__policy{
                &__text{
                    margin-top:-2rem;
                    margin-left: 2rem;
                    font-weight: 400;
                    font-size: 0.75rem;
                    color:#707070;
                }
            }
        }
        &__button{
            margin-top:2rem;
            margin-left:12.8rem;
        }
    }
}