header {
    position: sticky;
    top: 0;
    background-color: white;
}
.navbar {
        padding: 1rem 1rem 0rem 1rem;
        box-shadow: 0rem 0.125rem 0.125rem 0rem #A5A5A5;
        &__navbar-left {
            display: inline-block;
            width: 89%;
            vertical-align: middle;
        }
        &__navbar-right {
            &__menu-items {
                padding-left: 1rem;
                padding-bottom: 2rem;
                padding-top: 2.4rem;
                position: fixed;
                background-color: white;
                width: 100%;
                
                left: 0;
                &.closed {
                    display: none;
                }
                &__nav-link {
                    display: block;
                    padding: 0.375rem;
                    text-decoration: none;
                    color: #A5A5A5;  
                  
                    &:hover {
                        color: #000000;
                    }
                }
            }
        }
        &__menu-toggle,
        &__close-btn {
            vertical-align: middle;
            color: #07ACE6;
            display: inline-block;
            font-size: 2rem;
            padding-bottom:1rem;
            background: none;
            border: none;
            cursor: pointer;  
        }
      
        &__close-btn {
            display: none;
        }
    }
@media screen and (min-width: 1000px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom:1rem;
        &__navbar-left {
            padding-top: 0.75rem;
            
            width:50%;
            &__logo {
                margin-left: 8rem;
                vertical-align: middle;
            }
        }
      
        &__navbar-right {
            &__menu-items {
                padding-top: 0.5rem;
                display: flex;
                justify-content: end;
                padding-right:6rem;
                background-color: transparent;
              
                &__nav-link {
                    font-weight: 500;
                    color: #A5A5A5;
                    text-decoration: none;
                    padding-bottom:1.1rem;
                    margin-right:4rem;
                    border-bottom: 0.4rem solid transparent;  
                  
                    &:hover {
                        border-bottom: 0.4rem solid #07ACE6;
                        color: #000000;
                        font-weight: 700;
                    }
                }
            }
        }
        &__menu-toggle,
        &__close-btn {
            display: none;
        }
    }
}