.sales{
    padding-bottom:2.8rem;
    font-family: "Raleway";
    &__sales-title {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding:1.6rem 4rem 2rem 4rem;
    }
    &__popular-sales {
        &__post{
            text-align: center;
            
            &__background-circle-red {
                background-image: url('../img/icons/Ellipse\ 1.png');
                &__icon-person {
                    margin: 0.8rem 0rem 0rem 2.8rem;
                }
            }
            
            &__background-circle-blue {
                background-image: url('../img/icons/Ellipse\ 2.png');
                &__icon-eye{
                    margin: 1.2rem 0rem 0rem 2.8rem;
                }
            }
                
            &__background-circle-green {
                background-image: url('../img/icons/Ellipse\ 1\ \(1\).png');
                &__icon-catalog {
                    margin: 1rem 0rem 0rem 2.8rem;
                }   
            }
            
            &__background-circle-red,
            &__background-circle-green,
            &__background-circle-blue {
                height:5rem;
                background-repeat: no-repeat;
                background-position:50%;
                margin-right:1rem;
            }
            &__title {
                padding-top:0.6rem;
                font-weight:900;
                letter-spacing: 0.4rem;
            }
            &__desc {
                color: #A5A5A5;
                font-size: 16px;
                text-align: center;
                padding:1.4rem 8rem 1.4rem 8rem;
            } 
        }
    }
    
    @media screen and (min-width: 1000px) {
        padding-bottom:8rem;
        &__popular-sales {
            display: flex;
            justify-content: center;
        }
        &__sales-title {
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            padding:1.6rem 4rem 6rem 4rem; 
        }
    }
}

