.news{
        background-color: #F7F7F7;
        padding:2rem;
        display: block;
        &__article-one,
        &__article-two,
        &__article-three {
            background-color: white;
            padding-top: 1rem;
            background-repeat: no-repeat;
            margin-top:2rem;
            &__text{
                &__title{
                    font-family: "Raleway";
                    font-weight: 400;
                    font-size:30px;
                }
                &__paragraph{
                    padding:2rem 1rem 2rem 1rem;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        &__article-two {
            &__img {
                &__iphone {
                    background-image: url('../img/icons/Ellipse\ 3.png');
                    background-position: 0rem 0rem;
                    background-size: 7.8rem 7.8rem;
                    background-repeat: no-repeat;
                    padding-top:0.4rem;
                    width:10rem;
                    height:8.6rem;
                    display: block;
                    margin-top:0.6rem;
                    margin-left:6rem;
                } 
            }
            &__text {
                &__title {
                    padding:1rem 3rem 0rem 1rem;
                }
            }
        }
        &__article-three {
            &__img {
                background-color: #55DFB4;
                height:12rem;
                &__trumpet {
                    padding:2rem 0rem 0rem 0rem;   
                }
            }
            &__text {
                &__title{
                    padding:1rem 3rem 0rem 1rem;
                    font-family: 'Open Sans';
                }
                &__paragraph{
                    padding:2rem 2rem 2rem 1rem;
                    font-size: 16px;
                }           
            }  
        }

@media screen and (min-width: 320px) and (max-width: 1000px) {
        &__article-one{
            margin-top:0rem;
            
            padding-top:2rem;
            &__img {  
                &__macbook {
                    height:8rem;
                    width:12rem;
                    display: block;
                    margin:0 auto;
                    background-position: 6rem 0rem;
                    background-image: url('../img/icons/Frame\ 11.png');
                    background-size: 6rem 6rem;
                    background-repeat: no-repeat;
                    padding:1rem;
                    padding-top:2rem;
                }        
            }
            &__text {
                &__title{
                    padding:1rem;
                }
            }
        }             
    }  
@media screen and (min-width: 1000px) {
        padding:6rem 10rem 6rem 10rem;
        &__article-one {
            display: flex;
            flex-direction:row-reverse;
            padding-top:2rem;
            &__img {
                width:50%;
                margin-right:4rem;
                display: flex;
                justify-content: center;
               &__macbook{
                    padding:4rem 4rem 4rem 4rem;  
                    background-position: 16rem 0rem;
                    background-image: url('../img/icons/Rectange\ 30.png');
                    background-size: 14rem 14rem;
                    background-repeat: no-repeat;
               }
            }
            &__text{
                padding-top:2rem;
                &__title {
                    padding:1rem;
                }
                &__paragraph {
                    padding:2rem 0rem 2rem 1rem;
                }
                &__subline-red {
                    margin-left:1rem;
                    border-bottom: 2px #FB3B64 solid;
                    width:80%;
                }
            }        
        }
        &__article-two {
            display: flex;
            padding-top:2rem;
            &__img {
                display: flex;
                justify-content: center;
                width:50%;
                &__iphone {  
                    height:19.4rem;
                    width:23rem;  
                    background-size: 17.2rem 17.2rem;
                    background-position: 0.6rem 0rem;
                    padding:0.6rem;
                }
            }
            &__text{
                padding-top:2rem;
                &__title {
                    padding: 1rem 14rem 1rem 12rem;
                }
                &__paragraph {
                    padding:2rem 1rem 2rem 12rem;
                }
                &__subline-blue {
                    margin-left:12rem;
                    border-bottom: 2px #08A6E4 solid;
                    width:54%;
                }  
            }     
        }            
        &__article-three{
            background-color: #F7F7F7;
            display:flex;
            margin-top:2rem;
            &__text{
                background-color: white;
                width:50%;
                margin-right:4rem;
                &__title {
                    margin-top:4rem;
                    padding:0rem 14rem 0rem 1rem;
                }
                &__paragraph {
                    padding:2rem 2rem 2rem 1rem;
                    font-size: 16px;
                }
                &__subline-green {
                    margin-left:1rem;
                    border-bottom: 2px #55DFB4 solid;
                    width:80%;
                }
            }
            &__img{
                width:50%;
                height:100%;
                display: flex;
                justify-content: center;
                &__trumpet {
                    margin:4rem 5rem 1rem 7rem;
                    height:16rem;
                    width:20rem;
                }
            } 
        }            
    }
}