* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
    body {
        min-width: 20rem;
    }

@import './MostPopularSectionStyles.scss';
@import './HeaderStyles.scss';
@import './MainStyles.scss';
@import './NewsSectionStyles.scss';



        
    

        

            
                
    

    